{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<section class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="text-white">Contact 📩</h1>
        <p class="text-secondary">Feel free to contact us with any questions or comments you may have. We will get back to you as soon as possible.</p>
    </div>
    <div class="card bg-dark text-white p-4 border-0">
        {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="row g-3">
            <div class="col-md-6">
                {{ form_row(form.fullname, {'attr': {'class': 'form-control bg-secondary text-white', 'placeholder': 'Full Name'}}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.email, {'attr': {'class': 'form-control bg-secondary text-white', 'placeholder': 'Email'}}) }}
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                {{ form_row(form.question, {'attr': {'class': 'form-control bg-secondary text-white', 'placeholder': 'Your Question'}}) }}
            </div>
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
